**KLASIFIKASI TINGKAT OBESITAS**

Program ini akan mengklasifikasikan tingkat obesiotas pada seseorang dengan menggunakan algoritma SVM(*Support Vector Machine*) dengan menggunakan bererapa indikator yang akan menjadi fitur/ variabelnya yakni ;
> Usia /Age

> Jenis kelamin /Gender

> Berat/Height

> Tinggi/Weight

> Indeks Massa Tubuh (IMT) /IBM

Sedangkan yang labelnya akan terbagi menjadi ; Normal Weight, Overweight, Unerweight,

In [1]:
#MEMBACA FILE DALAM BENTUK CSV DAN DISIMPAN DIDALAM VARIABEL OBESITAS
import pandas as pd
obesitas=pd.read_csv('/content/Obesity Classification.csv')

In [2]:
# UNTUK MENGETAHUI BERAPA BANYAK BARIS DAN KOLOM SERTA TIPE DATANYA
obesitas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108 entries, 0 to 107
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      108 non-null    int64
 1   Age     108 non-null    int64
 2   Gender  108 non-null    object
 3   Height  108 non-null    int64
 4   Weight  108 non-null    int64
 5   BMI     108 non-null    float64
 6   Label   108 non-null    object
dtypes: float64(1), int64(4), object(2)
memory usage: 6.0+ KB

In [3]:
#MENAMPILKAN 5 DATA TERATAS DARI FILE CSV
obesitas.head(0)

Empty DataFrame
Columns: [ID, Age, Gender, Height, Weight, BMI, Label]
Index: []

In [6]:
from sklearn.preprocessing import LabelEncoder

# INISIALISASI LABEL ENCODER
labelencoder = LabelEncoder()

# MELAKUKAN LABEL ENCODER PADA KOLOM 'GENDER' UNTUK MENGUBAH DATA DARI KATEGORIK KE NUMERIK
obesitas['Gender'] = labelencoder.fit_transform(obesitas['Gender'])

# MENAMIPLKAN 5 DATA TERATAS YANG TELAH DIUBAH
print(obesitas.head())

   ID  Age  Gender  Height  Weight   BMI          Label
0   1   25       1     175      80  25.3  Normal Weight
1   2   30       0     160      60  22.5  Normal Weight
2   3   35       1     180      90  27.3     Overweight
3   4   40       0     150      50  20.0    Underweight
4   5   45       1     190     100  31.2          Obese

In [11]:
#MENGHAPUS KOLOM YANG TIDAK DIPERLUKAN YAKNI ID SEBAB ID TIDAK AKAN BERPENGARUH PADA PENGKLASIFIKASIAN
obesitas = obesitas.drop('ID' , axis = 1)

In [13]:
#MEMISAHKAN  FITUR DAN LABEL,DIMANA X ITU ADALAH FITUR DAN Y ADALAH LABEL
X = obesitas.drop('Label', axis = 1)
y = obesitas['Label']

In [15]:
#MEMISAHKAN DATA LATIH DAN DATA UJI MENGGUNAKAN TRAIN_TEST_SPLIT
from sklearn.model_selection import train_test_split
X_train , X_test , y_train , y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [17]:
from sklearn.svm import SVC

# INISIALISASI MODEL SVM
svm_model = SVC(kernel='linear', random_state=42)

#MELATIH MODEL SVM MENGGUNAKAN DATA LATIH
svm_model.fit(X_train, y_train)

#MENGUJI MODEL SVM MENGGUNAKAN DATA UJI
y_pred = svm_model.predict(X_test)

In [18]:
# MENGHITUNG AKURASI MODEL MENGGUNAKAN ACCURACY_SCORE
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, y_pred)
print('Accuracy:', accuracy)

Accuracy: 0.9090909090909091

In [20]:
# PREDIKSI DENGAN SVM_MODEL.PREDICT MENGGUNAKAN VARIABEL ['Age,'Gender','Height','Weight','BMI']
new_data = [[20, 1, 174, 84, 25.1]]

#MENCETAK HASIL PREDIKSI
print("Prediction:", prediction)

Prediction: ['Overweight']